{% extends 'report/base.html' %}
{% block content %}

<script src="https://d3js.org/d3.v7.min.js"></script>
<div class = 'container' style = "max-width:40em">
    <br>
    <a style ='color: unset; text-decoration: unset;' href = "{%url 'detail_site' siteweather.site.slug%}"><h2>Weather for {{siteweather.site.name}} <small class="text-muted">({{siteweather.site.slug}})</small></h2></a>
    <p>Conditions depend mainly on swell, wind speed and wind direction. Green means a comfortable dive, yellow is marginal, and red will be uncomfortable. Direction on this wind rose is where wind is coming from. Arrows on the weekly graph point in direction wind is blowing to.</p>
<h3>Wind rose</h3>
    <div id="windrose"></div>
<h3>Swell guide</h3>
{% if user.is_staff %}
<form action="" method="post" onsubmit="document.getElementById('wind_button').value = d3.csvFormat(d3.selectAll('path').data());">
    {%csrf_token%}
    <div class="row" style="max-width: 330px;">
      <div class="col">
        <label class="form-label">Swell marginal</label>
        <div class="input-group">
        <input type="text" class="form-control" name="swell_marginal" value="{{siteweather.swell_marginal}}" placeholder="{{siteweather.swell_marginal}}" aria-label="First name">
        <div class="input-group-text">m</div></div>
      </div>
      <div class="col">
        
        <label class="form-label">Swell max.</label>
        <div class="input-group">
        <input type="text" class="form-control" name="swell_max" value="{{siteweather.swell_max}}" placeholder="{{siteweather.swell_max}}" aria-label="max">
        <div class="input-group-text">m</div></div>
      </div>
    </div>
    <br>
    <button id = 'wind_button' name="wind" class="btn btn-success" >Save</button>
</form>

{% else %}

<table class="table table-borderless" style="max-width:330px">
<tr class="table-success">
    <th scope="row">Good swell: </th>
    <td>0 to {{siteweather.swell_marginal}}m</td>
</tr>
<tr class="table-warning">
  <th scope="row">Marginal swell: </th>
  <td> {{siteweather.swell_marginal}}- {{siteweather.swell_max}}m</td>
</tr>
<tr class="table-danger">
  <th scope="row">Maximum swell: </th>
  <td>{{siteweather.swell_max}}m+</td>
</tr>

</table>




{% endif %}
<br>
<small class="text-muted">Data from Willyweather API and Bureau of Meteorology. {{siteweather.weather_station}}<small>
</div>

<script>

var width = 330
    height = 330
    margin = 5

var radius = Math.min(width, height) / 2 - margin

var svg = d3.select("#windrose")
  .append("svg")
    .attr("width", width)
    .attr("height", height)
  .append("g")
    .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")");


var wind_data = d3.csv("{%url 'wind_csv' siteweather.slug%}", d3.autoType).then((data) => {
    
    var color = d3.scaleOrdinal()
     .domain([0, 1, 2])
     .range(["#5cb85c", "#f0ad4e", "#d9534f"]);
    

    var arc = d3.arc()
     .innerRadius(function(d) {return d.wind*radius/20})
     .outerRadius(function(d) {return (d.wind+5)*radius/20})
     .startAngle(function(d) {return (d.angle-22.5)*(Math.PI/180)})
     .endAngle(function(d) {return (d.angle+22.5)*(Math.PI/180)})

     var outerArc = d3.arc()
     .innerRadius(radius * 0.9)
     .outerRadius(radius * 0.9)

    var updatescore = function(d, i){
        i.score = (i.score == 2 ? 0 : i.score + 1)
        
        d3.select(this)
        .style("fill", function(d) { return color(i.score); });
    
    };

    svg.append('g')
    .selectAll("path")
    .data(data)
    .enter()
    .append("path")
      .attr("d", function (d) { return arc(d); } )
      .style("fill", function (d) { return color(d.score) } )
      .style("stroke", '#EAECEE' )
      {% if user.is_staff %}
      .on("click", updatescore)
      {% endif %}
    
      svg
      .selectAll('labels')
      .data(data)
      .enter()
      .append('text')
      .attr("font-size", 14)
      .attr("pointer-events", "none")
    .text( function(d) { return  d.label} )
    .attr('fill', 'white')
    .attr('transform', function(d) {
        var pos = arc.centroid(d)
        return 'translate(' + pos + ')';
    })


}).catch((error) => {
    console.error("Error loading the data");
  });

</script>

{% endblock %}